.header-filter {
    padding: 5px;
}

.grid-sizer, .grid-item {
    width: 24%;
    margin-bottom: 1%;
}

.gutter-sizer {
    width: 1.333%;
}

@media (max-width: 991px) {
    .grid-sizer, .grid-item {
        width: 100%;
    }
}