<!doctype html>
<html ng-app="galleryApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="/app/js/head.js"></script>
  </head>
  <body>
    <div class="header-filter">
      <input class="form-control" ng-model="query">
    </div>
    <div id="hidden-grid" class="hidden" ng-controller="GalleryImageController">
      <div class="grid-item" ng-repeat="image in images | filter:query">
        <img class="img-responsive img-thumbnail" src="{{image.src}}">
      </div>
    </div>

    <div id="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
    <script src="/app/js/site.js"></script>
  </body>
</html>